.container{
    display: grid;
    background-color: dodgerblue;
    /* flex-direction: column; */
    grid-template-columns: auto auto auto;
    width: 60vw;
    height: 30vh;
}

.container div{
    background-color: wheat;
    margin: 10px;
    padding: 20px;
    font-size: 24px;

}

.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
}

.pagination li a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid grey;
    color: black;
    margin: 0 4px;
    border-radius: 10px;
}