table{
     border: 2px solid black;
    width: 80vw;
    height: auto;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color: aquamarine;
    margin-bottom: 50px;
}



form{
    font-size: 16px;
    color: darkblue;
    background-color: lightgrey;
    width: 89vw;
    height: 60vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}   
    button{
        background-color: darkblue;
        color: white;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
  
 
